{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css"
      href="{{ site.url }}/media/css/jquery.tweet.css" />
<script language="javascript"
        src="{{ site.url }}/media/js/jquery-1.5.2.min.js"
        type="text/javascript"></script>
<script language="javascript"
        src="{{ site.url }}/media/js/jquery.tweet.js"
        type="text/javascript"></script>
<script type='text/javascript'>
    $(document).ready(function(){
        $(".tweet").tweet({
            username: "aartamonau",
            join_text: "auto",
            avatar_size: 32,
            count: 3,
            auto_join_text_default: "",
            auto_join_text_ed: "",
            auto_join_text_ing: "",
            auto_join_text_reply: "",
            auto_join_text_url: "",
            loading_text: "loading tweets..."
        });
    });
</script>
{% endblock %}

{% block content %}
<div id="posts" class="span-13">

  <div>
    <h2 class="loud">Recent posts</h2>
    {% recent_posts posts 5 page.blog_node %}

    <ul>
      {% for post in posts %}
      <li>
        <span>{{ post.updated|default:post.created|date:"d M Y" }}</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2 class="loud">Tag cloud</h2>
  </div>

</div>
<div class="span-10 last">
  <h2 class="loud">Recent tweets</h2>
  <div class="tweet query"></div>
</div>

{% endblock %}
